.title {
    text-align: center;
    border-style: dashed;
    border-color: #F97491;
    border-width: medium;
}

.border-line {
    height: 50px;
    background: #BB4D5F;
}

.login-form {
    padding:2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-field, select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    border:none;
    height: 2em;
    background-color: #F97491;
    color: white;
}
