.sightings {
    text-align: center;
    width: 100%;
}

.sighting-page {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding-top: 1em;
}

.sightingtitle {
    text-align: center;
}

.post-sighting-page {
    text-align: center;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
    padding-top: 1em;
}

.sightingIdPage {
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 5em;
    margin: 2em;
    border-radius: 25px;
}

.sightingIdMap {
    max-width: 100%;
    height: auto;
    padding-bottom: 2em;
}

.card-bg {
    background-color: #FFF7E3;
    border-radius: 25px;
    width: auto;
}

.list-of-cards {
    width: auto;
    padding: 2em;
    display: flex;
    justify-content: center;
    background-color: #397E6E;
}

.header {
    background-color: #397E6E;
    padding: 1em;
    text-align: center;
}

.confirmed-header {
    padding: 1em;
    text-align: center;
    background-color: #397E6E;
}

.submit-sighting-btn {
    width: 100%;
    padding: 2em;
    background-color: #BB4D5F;
    border: none;
}

.btn-link {
    color: white;
    text-decoration: none;
}

.confirmed-list-of-cards {
    background-color: #397E6E;
    width: auto;
    padding: 2em;
    display: flex;
    justify-content: center;
}
.MuiStack-root {
    display: flex;
    justify-content: center;
}

.MuiCardMedia-media {
    max-height: 100px;
}

.largeSightingPicture {
    max-width: 80%;
    height: auto;
}

