.speciesList.firstvalue {
    font-weight: bold;
}

.groupfilter {
    margin-left: auto; 
    margin-right: 0;
}

.title {
    padding: 1em;
    background-color: white;
}

.search {
    width: 80%;
    padding-bottom: 1em;
}

.species-button {
    text-decoration: none;
}

.list {
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    padding: 0.5em;
}

.taxonName {
    font-size: large;
    font-weight: bold;
    border-radius: 25px;
    border: 2px solid #F97491;
    background-color: white;
    padding: 0.5em;
}

.latinName {
    font-style: italic;
    background-color: #FFF7E3;
}

.detail {
    padding: 1em;
}

.picture {
   width: 100px;
    height: 100px;

}

.species-header {
    padding: 1em;
    background-color: white;
   border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.species-name {
    font-size: larger;
    text-decoration: underline;
}

.species-latinName {
    font-style: italic;
}

.isProtected {
    color: #F97491;
}

.separator {
    padding: 2em;
    margin: 0;
    background-color: #BB4D5F;
}


.largepicture {
    width: auto;
    height: auto;
    padding-bottom: 2em;
}

.description {
    margin-top: 1em;
    padding-top: 1em;
    padding-right: 2em;
    padding-left: 2em;
    background-color: #FFFDF6;
    height: auto;
    border-radius: 25px;
    border: 4px;
}

.editprompt {
    padding-top: 2em;
    position: fixed; 
    bottom: 0;
}

.picture {
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.species {
    padding: 1em;
}